@mixin backImage($image, $grDir: to bottom, $opStart: 0, $opEnd: 0, $bgPos: center center) {
    background: linear-gradient($grDir, rgba(0, 0, 0, $opStart), rgba(0, 0, 0, $opEnd)), url($image);
    background-repeat: no-repeat;
    background-position: $bgPos;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


@mixin boxsizing {
     box-sizing: border-box;
}

@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}


/*@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
*/

@mixin input-placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin border-radius($pixel...) {
  border-radius: $pixel;
}

@mixin text-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin breakpoint($point) {
  @if $point == narrow {
    @media (max-width: 400px) { @content; }
  }
  @else if $point == forMain1 {
    @media  (max-width: 425px) { @content }
  }
  @else if $point == small {
    @media (max-width: 650px) { @content; }
  }
  @else if $point == forMain {
    @media (max-width: 770px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 960px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 1200px) { @content; }
  }
}